<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vera Kippel - Backend</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <header>
        <h1>Kurshantering</h1>
        <nav>
            <ul class="headmenu">
                <li><a href="/">Startsida</a></li>
                <li><a href="/courses">Kurser</a></li>
                <li><a href="/about" class="current">Om</a></li>
            </ul>
        </nav>
</header>
<div class="container">
    <main>
    <h2>Om</h2>
    <p>Syftet med webbplatsen är att kunna lagra sina kurser som man gått för att ha dessa samlade på ett ställe med hjälp av en databas.</p>
    <p>Den databas som använts är <span>SQLite3</span>.</p>
    <p>Slutsats om detta moment är att den tog längre tid än väntat och vissa fel var väldigt kluriga att få bort. Det var kul att få använda sina kunskaper från databas-kursen med helt nya verktyg i denna kurs.</p>
</main>
</div>
    <footer>
        <p>Backend Moment 1 - Vera Kippel - <a href="mailto:vera.kippel@outlook.com">vera.kippel@outlook.com</a></p>
    </footer>

</body>
</html>