<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vera Kippel - Backend</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Kurshantering</h1>
            <nav>
                <ul class="headmenu">
                    <li><a href="/" class="current">Startsida</a></li>
                    <li><a href="/courses">Kurser</a></li>
                    <li><a href="/about">Om</a></li>
                </ul>
            </nav>
</header>


<section class="container">
    <main>
    <h2>Startsida</h2>
    
    <p>Detta är webbplatsen för <%= fullname%>s <span>moment 1</span> i backend-baserad webbutveckling!</p>
    <p>Tryck på <span>kurser</span> i menyraden för att se inlagda, skapa nya, radera och redigera kurser.</p>
    <p><span>Om</span> kan du klicka på för att läsa mer om uppgiften.</p>
</main>
</section>
    <footer>
        <p>Backend Moment 1 - Vera Kippel - <a href="mailto:vera.kippel@outlook.com">vera.kippel@outlook.com</a></p>
    </footer>


</body>
</html>