<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vera Kippel - Backend</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Kurshantering</h1>
            <nav>
                <ul class="headmenu">
                    <li><a href="/" class="current">Startsida</a></li>
                    <li><a href="/courses">Kurser</a></li>
                    <li><a href="/about">Om</a></li>
                </ul>
            </nav>
</header>


<section class="container">
    <main>
    <h1>Startsida</h1>
    
    <p>Emempel ejs-text <%= fullname%></p>
    <footer>
        <p>Backend Moment 1 - Vera Kippel - <a href="mailto:vera.kippel@outlook.com">vera.kippel@outlook.com</a></p>
    </footer>
</main>
    </section>

</body>
</html>